{% extends "index.html" %}
{% load static %}


{% block content %}

    <link href="{% static 'css/index_card.css' %}" rel="stylesheet">
    <table class="table table-bordered border-primary">
        <thead>
        <tr>
            <th scope="col">Key</th>
            <th scope="col">Value</th>
        </tr>
        </thead>
        <tbody>
        {% for key, value in search_history.items %}
            <tr>
            <th>{{ key }}</th>
            <th>{{ value }}</th>
        {% endfor %}
        </tr>
        </tbody>
    </table>
{% endblock %}