[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==3.2.16"
faker = "*"
ipython = "*"
django-extensions = "*"
webargs = "*"
django-debug-toolbar = "*"
flake8 = "*"
black = "*"
django-crispy-forms = "*"
pillow = "*"
django-inlinecss-redux = "*"
django-phonenumber-field = {extras = ["phonenumberslite"], version = "*"}
django-location-field = "*"
social-auth-app-django = "*"
bootstrap4 = "*"
crispy-bootstrap4 = "*"
django-suit = "==0.2.26"
django-baton = "*"
baton = "*"
psycopg2-binary = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.0"
